<div id="comment1" class="box">

    <div class="right-comment">

        <a href="viewprofileA.html">
            <div class="user">
                <img class="user-icon" src="../assets/sprites/comments/Turtle.jpg">
                <div class="user-info">
                    <p class="username">{{this.username}}</p>
                    <p class="date-commented">{{this.datePosted}}
                        {{#if this.edited}}
                        (edited)
                        {{/if}}
                    </p>
                </div>
            </div>
        </a>


        <div style="clear:both;" class="actl-comment">
            <p class="content-comment">{{this.body}}</p>
        </div>
        <div class="button-container">
            {{{editdeleteComment user this.username id @index}}}
            <button class='rep-button delete-button' data-postid="{{id}}" data-commentid="{{this._id}}" method="DELETE">Delete</button>
        </div>
        
        {{!--
        <div class="reply">
            <a href="reply.html">
                <button id="reply" class="icon" type="button"></button>
            </a>
            <p>Reply</p>
        </div> --}}

    </div>


    <div class="up-down">
        <p class="countUD"><a id="upclicks">{{this.upvote}}</a></p><button id="upvote" class="icon" type="button"
            onclick="increment()"></button>
        <p class="countUD"><a id="downclicks">{{this.downvote}}</a></p><button id="downvote" class="icon" type="button"
            onclick="decrement()"></button>
    </div>
    <script>
        const buttonContainer = document.querySelector('.button-container');
        buttonContainer.addEventListener('click', async function(event) {
            // Check if a button with the class 'delete-button' was clicked
            if (event.target.classList.contains('delete-button')) {
                // Retrieve data attributes from the clicked button
                const postId = event.target.getAttribute('data-postid');
                const commentId = event.target.getAttribute('data-commentid');
                
                // Perform your desired actions here
                console.log('Delete button clicked!');
                console.log('Post ID:', postId);
                console.log('Comment ID:', commentId);
                
                // Call the deleteComment function
                try {
                    const response = await fetch(`/deletecomment/${postId}/${commentId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    });

                    if (response.ok) {
                        console.log('Comment successfully deleted');
                        // Handle any UI updates or redirects as needed
                    } else {
                        console.log('Failed to delete comment');
                        // Handle error
                    }
                } catch (error) {
                    console.error('Error:', error);
                    // Handle error
                }
            }
        });
        const deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach(attachDeleteButtonEventListener);
    </script>
</div>