
<div class="post-item">

  <div class="header-post-item">
    <div>
        <p class="post-title left-align">{{title}}</p>
        <div class="author-date">
          <p class="author left-align">posted by {{username}}</p>
          <p class="outer-date-posted left-align">{{datePosted}}</p>
        </div>
    </div>
    <div class="outer-total-votes">
          <button id="outer-upvote" class="outer-arrow" type="button" onclick="increment()"></button>
          <p class="outer-count">{{upvote}}</p>
          <span class="spacer"></span>
          <button id="outer-downvote" class="outer-arrow" type="button" onclick="decrement()"></button>
          <p class="outer-count">{{downvote}}</p>
    </div>
  </div>

  <div class="comment-section">

    <div class="comment" >
      <p class="top-comment">Turtle</p>
    </div>

    <div class="comment" >
      <p class="top-comment">Whale</p>
    </div>

    <div class="comment" >
    <p class="top-comment">Snake</p>
  </div>

  </div>
</div>