
<div class="page">
    <div class="navbar">
        <div class="header-parts">
            <img class="icon" src="/assets/sprites/Arryn House.png" alt="icon"></img> <!-- Supposed to be an icon -->
            <a href="/homepage">
                <button class="nav-button">Home</button>
            </a>
        </div>
        <div class="header-parts">
            <div class="logout">
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" class="nav-button right-nav">Logout</button>
                </form>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="content">
            <img class="profile-pic" src="/assets/sprites/default.png">
            <div class="right">
                <div class="name">{{username}}</div>
                <div class="email"> {{email}}</div>
                <div class="aboutme">About Me</div>
                <div class="description">
                    {{#if description}}
                        {{description}}
                    {{else}}
                        No description yet!
                    {{/if}}
                    </div>
                <div class="stats">
                    <div class="inside">
                        <p class="value">{{numPosts}}</p>
                        <p class="variable">Posts</p>
                        <span class="spacer"></span>
                        <p class="value">{{numComments}}</p>
                        <p class="variable">Comments</p>
                        <span class="spacer"></span>
                        <p class="value">{{upvotes}}</p>
                        <p class="variable">Upvotes</p>
                        <span class="spacer"></span>
                    </div>
                </div>
                <div>
                    {{{editProfile currrentUser username}}}
                </div>
        </div>
        </div>
    </div>
    <div class="sortbar">
        <div class="navbar2">
            <p>Sort By</p>
            <a href= {{profileLinkSort username 1}}>
                <button class="nav-button">Recent</button>
            </a>
            <a href= {{profileLinkSort username 2}}>
                <button class="nav-button">Popular</button>
            </a>
        </div>
        <input class="Searchbar" type="text" placeholder="Search..">
    </div>

    <div class="post-container"> 
        {{#each posts}}
        <div class ="post-fit">
            {{#each ../indexes}}
            <a href= {{link this}}>
            {{/each}}
            {{> post}}
            {{#each ../indexes}}
            </a>
            {{/each}}
        </div>
        {{/each}}
    </div>

    <div class="sortbar">
        <div class="navbar" > 
            <p>Comments</p> 
        </div>
    </div>

    <div class="comment-container"> 
        {{#each comments}}
        <div class ="comment-fit">
            {{> comment-preview}}
        </div>
        {{/each}}
    </div>
</div>