<div class="post">

    <div class="post-header">

        <div>
            <p class="title">{{title}}</p>
            <p class="date-posted">{{datePosted}}
                {{#if edited}}
                    {{edited}}
                {{/if}}
            </p>
            <p class="posted-by">by {{username}}</p>
        </div>


        <div class="outer-total-votes">
            <p class="count">{{upvote}}</p><img src="assets/voting-arrow/up-arrow.png" alt="Up-Arrow">
            <p class="count">{{downvote}}</p> <img src="assets/voting-arrow/down-arrow.png" alt="Down-Arrow">
        </div>

    </div>


    <div id="content-box" class="box">
        <p>{{body}}</p>
    </div>


    <div class="comments">

        <div class="comment-title">
            <img class="comment-icon" src="../assets/sprites/Icons/comment.png">
            <p class="comment-name">1 Comment</p>
        </div>


        <div id="commentBox">

            {{#each comments}}

                {{> comment}}

            {{/each}}

        </div>


    <div class="bottom-buttons">
        <a href="logged_in.html">
            <button class="bot-button">Back</button>
        </a>
        <a href="reply.html">
            <button class="bot-button">Reply</button>
        </a>
    </div>
</div>