
<div class="header" id="postHeader">
    <div class="header-parts">
        <img class="logo" src="/assets/sprites/Arryn House.png" alt="icon"></img> <!-- Supposed to be an icon -->
        <a href="/homepage">
            <button class="nav-button">Home</button>
        </a>
    </div>
    <div class="header-parts">
        {{#if currentUser}}
            <a href= {{profileLink userid}}>
                <button onclick="openProfile()" class="nav-button right-nav">Profile</button>
            </a>
        {{/if}}
        <div class="img-logout">
            {{#if currentUser}}
            <img class="icon" src="/assets/sprites/default.png" alt="profile_pic">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="nav-button right-nav">Logout</button>
            </form>
            {{/if}}
        </div>
    </div> 

</div>

<div class="post">

    <div class="post-header">

        <div>
            <p class="title">{{title}}</p>
            <p class="date-posted">{{datePosted}}
                {{#if edited}}
                    (edited)
                {{/if}}
            </p>
            <p class="posted-by">by {{username}}</p>
        </div>


        <div class="outer-total-votes">
            <p class="count">{{upvote}}</p><img src="/assets/voting-arrow/up-arrow.png" alt="Up-Arrow">
            <p class="count">{{downvote}}</p> <img src="/assets/voting-arrow/down-arrow.png" alt="Down-Arrow">
        </div>

    </div>


    <div id="content-box" class="box">
        <p>{{body}}</p>
    </div>


    <div class="comments">

        <div class="comment-title">
            <img class="comment-icon" src="/assets/sprites/Icons/comment.png">
            <p class="comment-name">{{totalcomments}} Comment</p>
        </div>


        <div id="commentBox">

            {{#each comments}}

                {{> comment user=../currentUser id=../postID}}

            {{/each}}

        </div>

    {{#if currentUser}}
        <div class="bottom-buttons">
            <form method ='post' id="deletePost">
            </form>
            {{{editDelete currentUser username postID}}}
            <a href= {{comment postID}}>
                <button class="bot-button">Reply</button>
            </a>
        </div>
    {{/if}}
</div>